<form [formGroup]="formGroup">
    <div class="form-group text-center">
        <h3 class="text-center">Timer</h3>
        <p>Please input the number in seconds you want to set the timer in</p>
        <input type="number" class="form-control mt-3 text-center" name="timer" placeholder="Input number of seconds"
        formControlName="theTime" [(ngModel)]="time" value="time" />
        <div class="text-danger text-center" *ngIf="
        formGroup.controls.theTime.errors?.required &&
        formGroup.controls.theTime.dirty">
            Time in seconds is required
        </div>
        <div
        class="text-danger text-center"
        *ngIf="
          formGroup.controls.theTime.errors?.min &&
          formGroup.controls.theTime.dirty">
          <small>Time in seconds should be greater than 0</small>
      </div>
        <div class="text-center mt-3">
            <button (click)="setTimer()" class="btn btn-light" [disabled]="formGroup.controls.theTime.errors?.min">Set</button>
        </div>
    </div>
</form>

<h3 *ngIf="timeUp" class="text-danger text-center">Times up</h3>